@charset "UTF-8";
:root {
  --dark-grey: #6e8098;
  --grey: #9daec2;
  --light-grey: #f4f6f8;
  --white: #ffffff;
  --midnight: #121721;
  --very-dark-blue: #19202d;
  --light-violet: #939bf4;
  --violet: #5964e0;
  --unnamed-font-family-kumbh-sans: Kumbh Sans;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-28: 28px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-17: 17px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-26: 26px;
  --unnamed-line-spacing-29: 29px;
  --unnamed-line-spacing-34: 34px;
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove focus for mouse users */
/* TODO : améliorer pour les éléments de formulaire */
:focus:not(:focus-visible) {
  outline: none;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin */
:is(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin: 0;
}

/* 2023-01-18 : Modified for CEFIM
Remove list styles, margin and padding on ul, ol elements with a class, which suggests default styling will be removed */
:is(ul, ol):where([class]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
:is(h1, h2, h3, h4, button, input, label) {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
:is(h1, h2, h3, h4) {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Anything that has been anchored to should scroll and have extra scroll margin */
:has(:target) {
  scroll-behavior: smooth;
  scroll-margin-block: 2.5em;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS Debugger */
* {
  /* outline: 1px solid red; */
}

/* Identify images without alt attributes */
img:not([alt]) {
  border: 10px solid red !important;
}

/* Set cursor pointer */
:where(label[for], button, input[type=submit], select):not(:disabled) {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Print external URLs */
@media print {
  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/* Block scroll when burger menu indicates that menu is expanded */
body:has(.toggle-menu[aria-expanded=true]) {
  overflow-y: hidden;
}

/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kumbh-sans-v22-latin-regular.woff2") format("woff2");
}
/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/kumbh-sans-v22-latin-700.woff2") format("woff2");
}
body {
  font-family: var(--unnamed-font-family-kumbh-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--very-dark-blue);
  background-color: var(--light-grey);
}

:is(h1, h2, h3, h4) {
  font-family: var(--unnamed-font-family-kumbh-sans);
  font-weight: var(--unnamed-font-weight-bold);
  color: var(--very-dark-blue);
}

h1 {
  font-style: var(--unnamed-font-style-normal);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-34);
  letter-spacing: var(--unnamed-character-spacing-0);
}

h2 {
  font-style: var(--unnamed-font-style-normal);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-29);
  letter-spacing: var(--unnamed-character-spacing-0);
}

h3 {
  font-style: var(--unnamed-font-style-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
}

h4 {
  font-style: var(--unnamed-font-style-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-0);
}

.container {
  margin-inline: auto;
  width: calc(100% - 1.5rem - 1.5rem);
}

.main-header {
  background-image: url(/img/background_1.svg);
  background-repeat: no-repeat;
  height: 8.5rem;
  background-position: left -45px top;
}

.devjobs-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 2.25rem;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: var(--violet);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--white);
  border: 1px solid var(--white);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--violet);
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: var(--violet);
}

.jobs-container {
  padding-inline: 2rem;
  padding-block-end: 2rem;
  background-color: var(--white);
  border-radius: 0.375rem;
}

.job-card {
  display: flex;
  flex-direction: column;
  margin-block-start: 3.5625rem;
  border-radius: 0.375rem;
}

.job-logo {
  display: flex;
  transform: translateY(-1.5625rem);
  width: 3.125rem;
  height: 3.125rem;
  background-color: orange;
  border-radius: 15px;
}

.job-description {
  display: flex;
  gap: 1rem;
}

.job-title h3 {
  margin-block: 0.75rem;
}

.job-location {
  margin-block-start: 2.75rem;
}

.load-more-button {
  margin-block-start: 2rem;
  margin-inline: 7.3125rem;
}

form {
  position: relative;
  transform: translateY(-50%);
  background-color: var(--white);
  border-radius: 0.375rem;
  font-weight: 400;
}

.reseach-title-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.research-form input {
  border: none;
}

.filter-location {
  display: flex;
  border-bottom: 1px solid var(--dark-grey);
  padding-block: 1.5rem;
}

.filter-location img {
  padding-inline-end: 1rem;
}

.search-logo-large {
  display: none;
}

.full-time {
  display: flex;
  flex-direction: column;
}

.checkbox-content {
  position: relative;
  margin-block: 1.6875rem;
}

.checkbox-content label {
  padding-inline-start: 1rem;
}

.form-checkbox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: var(--light-grey);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1875rem;
}

.form-checkbox:checked + .full-time-checkbox {
  background-color: blue;
}

.full-time-checkbox:checked + .form-checkbox::before {
  content: "✓";
  color: red;
}

button {
  border-radius: 5px;
  background-color: var(--violet);
  color: var(--white);
  font-weight: 700;
  text-align: center;
  height: 3rem;
  border: none;
}

.mobil-search-button {
  width: 3rem;
  height: 3rem;
}

.modal {
  width: calc(100% - 1.5rem - 1.5rem);
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  border-radius: 0.375rem;
  overflow: hidden;
  padding: 1.5rem;
}

/*
Exemples de suite des imports
@import
  'vendors/bootstrap',
  'vendors/jquery-ui';

@import
  'layout/navigation',
  'layout/grid',
  'layout/header',
  'layout/footer',
  'layout/sidebar',
  'layout/forms';

@import
  'components/buttons',
  'components/carousel',
  'components/cover',
  'components/dropdown';

@import
  'pages/home',
  'pages/contact';

@import
  'themes/theme',
  'themes/admin';
*/

/*# sourceMappingURL=style.css.map */
