button{
  @include center-flex;
  border-radius: 5px;
  background-color: $violet;
  color: $white;
  font-weight: 700;
  text-align: center;
  height: 3rem;
  border: none;
}


.mobile-search-button{
  width: auto;
  padding: 16px;
}

.filter-button{
  width: auto;
  padding: 16px;
  background-color: $white;
}

.load-more-button{
  margin: 2rem auto;
  padding: .5rem;

}

