.details-container {
  background-color: $white;
  border-radius: 0.375rem;
  padding: 2.5625rem 2.5rem;
}

.h2-details{
font-size: clamp(1.25rem, 0.83rem + 1.865vw, 1.75rem);
}

.job-details-card {
  display: grid;
  justify-items: center;
  border-radius: 0.375rem;
  margin-block-end: 2rem;
  background-color: $white;
  transform: translateY(-10%);
}

.job-site {
  text-align: center;
}

.job-details-logo {
  display: flex;
  transform: translateY(-50%);
  width: 3.125rem;
  height: 3.125rem;
  background-color: orange;
  border-radius: 15px;
}

.website-id {
  margin-block-end: 22px;
}

.details-times {
  display: flex;
  gap: 0.875rem;
}

.location {
  color: $violet;
  font-weight: bold;
}

.job-apply a {
  margin-block-start: 3.125rem;
}

.job-details {
  margin-block-start: 2rem;
}

.description {
  padding-block-end: 4.625rem;
}

.req-content {
  margin-block-start: 1.3125rem;
}

.do-content {
  padding-block-start: 1.4375rem;
}

ul {
  padding-inline-start: 1.25rem;
  margin-block-start: 4rem;
  margin-block-end: 2.875rem;
}

li {
  padding-inline-start: 1.25rem;
}

li:not(:first-child) {
  margin-block-start: 0.875rem;
}

ul > li::marker {
  color: $violet;
}

.do-list {
  padding-block-start: 2.375rem;
}

.do-list > li {
  position: relative;
  counter-increment: number;
  font-style: none;
  padding-inline-start: 2.5rem;
}

.do-list > li::before {
  position: absolute;
  left: 0;
  content: counter(number) "";
  font-weight: bold;
  color: $violet;
}

.footer-job-site {
  display: none;
}

footer {
  margin-block-start: 4rem;
  padding: 1.5rem;
  background-color: $white;
}

@include mq(md) {
  .job-details-card {
    grid-template-columns: 8.75rem 1fr;
    border-top-left-radius: 0;
  }

  .job-site {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
    text-align: initial;
  }

  .job-details-logo {
    transform: none;
    width: 100%;
    height: auto;
    border-radius: 0 0 0 0.375rem;
  }

  .website-id {
    margin-block-end: 0;
  }

  .job-details-logo {
    padding: 2rem;
  }

  .job-apply {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-job-site{
    display: block;
  }

  .footer-job-card{
    display: flex;
    justify-content: space-between;
  }
}
