form{
  position: relative;
}

.research-content {
  display: flex;
  width: 100%;
  transform: translateY(-50%);
  background-color: $white;
  border-radius: .375rem;
  font-weight: 400;
  padding: 1rem;
}

label{
  display: flex;
  width: 100%;
}

input {
  border: none;
  width: 100%
}

.filter-location{
  @include center-flex;
}




.filter-location img {
  padding-inline-end: 1rem;
}

.search-logo-large{
  display: none;
}

.full-time{
  display: flex;
  flex-direction: column;
}





