.container {
  margin-inline: auto;
  width: calc(100% - 1.5rem - 1.5rem);
}

.main-header {
  background-image: url(/img/background_1.svg);
  background-repeat: no-repeat;
  height: 8.5rem;
  background-position: left -45px top;
}

.devjobs-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 2.25rem;
}

.toggle-content{
  @include center-flex;
  gap: 1rem;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: $violet;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $white;
  border: 1px solid $white;
}

input:focus + .slider {
  box-shadow: 0 0 1px $violet;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: $violet;
}
