.container {
  margin-inline: auto;
  width: calc(100% - 1.5rem - 1.5rem);
}

.skip-links a {
  position: absolute;
  top: -100vh;
  left: 50%;
  display: inline-block;
  padding: 1rem;
  color: var(--txt);
  background-color: var(--bg);
  transform: translateX(-50%);
}

.skip-links a:focus {
  top: 0;
}

:focus-visible {
  outline: 0.3rem solid var(--txt);
  outline-offset: 0.5rem;
}

h1 {
  display: none;
}

.main-header {
  background-image: url(/img/background_1.svg);
  width: 100%;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: left -6rem top;
}

.devjobs-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 2.25rem;
}

.toggle-content {
  @include center-flex;
  gap: 1rem;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider-thumb {
  position: absolute;
  height: .875rem;
  width: .875rem;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: var(--violet);
  transition: 0.4s;
}

.slider:hover .slider-thumb {
  background-color: var(--light-violet);
}

input:checked + .slider {
  background-color: var(--white);
  border: 1px solid var(--white);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--violet);
}

input:checked + .slider .slider-thumb {
  transform: translateX(1.4em);
  background-color: var(--violet);
}

input:checked + .slider:hover .slider-thumb {
  background-color: var(--light-violet);
}


@include mq(md) {
  .container {
    margin-inline: auto;
    width: calc(100% - 2.4375rem - 2.4375rem);
  }

  .main-header {
    background-position: 0;
    background-size: cover;
  }
}

@include mq(xl) {
  .main-header {
    border-bottom-left-radius: 6rem;
  }
}

@include mq(xxl) {
  .container {
    margin-inline: auto;
    width: calc(100% - 10.3125rem - 10.3125rem);
  }
}
