.jobs-container {
  display: grid;
  row-gap: 3.0625rem;
  padding-block-end: 2rem;
  border-radius: 0.375rem;
  margin-block-start: 3.5625rem;
}

.job-card {
  display: flex;
  flex-direction: column;
  padding: 0 0.5625rem 2rem 2rem;
  border-radius: 0.375rem;
  background-color: var(--other);
}

.job-logo {
  display: flex;
  transform: translateY(-50%);
  width: 3.125rem;
  height: 3.125rem;
}

.job-logo img {
  border-radius: 1rem;
  padding-block: 0.75rem;
  padding-inline: 0.6rem;
}

.job-description {
  display: flex;
  gap: 1rem;
}

.job-title {
  margin-block: 0.75rem;
}

.job-location {
  margin-block-start: 2.75rem;
  color: var(--violet);
}

.msg-style {
  @include center-flex;
  border-radius: 5px;
  background-color: var(--violet2);
  color: var(--txt);
  font-weight: 700;
  text-align: center;
  border: none;
  padding: 1rem;
  text-transform: capitalize;
}

.load-ended {
  display: none;
}

@include mq(md) {
  .jobs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 4.0625rem;
    column-gap: 0.6875rem;
  }
}

@include mq(xl) {
  .jobs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1.875rem;
  }
}
