.modal {
  visibility: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(226, 226, 226);
  border-radius: 0.375rem;
  overflow: hidden;
  margin-block-start: 14.0625rem;
  padding: 1.5rem;
  gap: 1.5rem;
}


.full-time {
  display: flex;
  flex-direction: row;
  margin-block-start: 1.8125rem;
}

/* Customize the label (the container) */
.full-time {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  font-size: 1rem;
  font-weight: 700;
}

/* Hide the browser's default checkbox */
.full-time input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.modal::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  display: block;
  border-bottom: 1px solid var(--light-grey); 
  width: 100%; 
  margin-top: 5px;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -25%;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.1875rem;
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.full-time input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.full-time input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.full-time .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
