/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kumbh-sans-v22-latin-regular.woff2') format('woff2');
}
/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/kumbh-sans-v22-latin-700.woff2') format('woff2');
}

body {
  font-family: $unnamed-font-family-kumbh-sans;
  font-style: $unnamed-font-style-normal;
  font-weight: $unnamed-font-weight-normal;
  font-size: $unnamed-font-size-16;
  line-height: $unnamed-line-spacing-26;
  letter-spacing: $unnamed-character-spacing-0;
  color: $txt;
  background-color: $bg;
}

:is(h1, h2, h3, h4, .h1, .h2, .h3) {
  font-family: $unnamed-font-family-kumbh-sans;
  font-weight: $unnamed-font-weight-bold;
  color: $txt;
}  


    h1 {
    font-style: $unnamed-font-style-normal;
    font-size: $unnamed-font-size-28;
    line-height: $unnamed-line-spacing-34;
    letter-spacing: $unnamed-character-spacing-0;
    }

    h2, .h1 {
    font-style: $unnamed-font-style-normal;
    font-size: $unnamed-font-size-24;
    line-height: $unnamed-line-spacing-29;
    letter-spacing: $unnamed-character-spacing-0;
    }

    h3, .h2 {
    font-style: $unnamed-font-style-normal;
    font-size: $unnamed-font-size-20;
    line-height: $unnamed-line-spacing-24;
    letter-spacing: $unnamed-character-spacing-0;
    }

    h4, .h3 {
    font-style: $unnamed-font-style-normal;
    font-size: $unnamed-font-size-14;
    line-height: $unnamed-line-spacing-17;
    letter-spacing: $unnamed-character-spacing-0;
    }

    p, li{
      color: $dark-grey;
    }