:root {
  --dark-grey: #6e8098;
  --grey: #9daec2;
  --light-grey: #f4f6f8;
  --white: #ffffff;
  --midnight: #121721;
  --very-dark-blue: #19202d;
  --light-violet: #939bf4;
  --violet: #5964e0;
  --violet2: #5762e01a;
  --anchor2:hsla(235, 69%, 61%, 0.10);
  --anchor2hover: rgba(89, 100, 224, 0.35);
  --anchor2-dark: #ffffff1a;
  --anchor2-darkhover: #ffffff59;
  --checkbox-color:  #19212e1a;


  --txt: var(--very-dark-blue);
  --bg: var(--light-grey);
  --other: var(--white);
  --border: var(--light-grey);
  --filter: var(--dark-grey);
  --checkbox: var(--checkbox-color);
  --a: var(--anchor2);
  --a-hover:var(--anchor2hover);
  --txt-company: var(--violet);

  --dark-txt: var(--white);
  --dark-bg: var(--midnight);
  --dark-other: var(--very-dark-blue);
  --dark-border: var(--dark-grey);
  --dark-filter: var(--white);
  --dark-checkbox: var(--dark-grey);
  --dark-a: var(--anchor2-dark);
  --dark-a-hover:var(--anchor2-darkhover);
  --dark-txt-company: var(--white);
}

.darkmode {
  --txt: var(--dark-txt);
  --bg: var(--dark-bg);
  --other: var(--dark-other);
  --border: var(--dark-border);
  --filter: var(--dark-filter);
  --checkbox: var(--dark-checkbox);
  --a: var(--dark-a);
  --a-hover: var(--dark-a-hover);
  --txt-company: var(--dark-txt-company);
}


$unnamed-font-family-kumbh-sans: Kumbh Sans;
$unnamed-font-style-normal: normal;
$unnamed-font-weight-bold: bold;
$unnamed-font-weight-normal: normal;
$unnamed-font-size-14: 14px;
$unnamed-font-size-16: 16px;
$unnamed-font-size-20: 20px;
$unnamed-font-size-24: 24px;
$unnamed-font-size-28: 28px;
$unnamed-character-spacing-0: 0px;
$unnamed-line-spacing-17: 17px;
$unnamed-line-spacing-24: 24px;
$unnamed-line-spacing-26: 26px;
$unnamed-line-spacing-29: 29px;
$unnamed-line-spacing-34: 34px;
