$dark-grey: #6e8098;
$grey: #9daec2;
$light-grey: #f4f6f8;
$white: #ffffff;
$midnight: #121721;
$very-dark-blue: #19202d;
$light-violet: #939bf4;
$violet: #5964e0;
$violet2: #5762e01a;

$txt: $very-dark-blue;
$bg: $light-grey;
$other: $white;

.darkmode {
  color: $white;
  background-color: $midnight;
}

$unnamed-font-family-kumbh-sans: Kumbh Sans;
$unnamed-font-style-normal: normal;
$unnamed-font-weight-bold: bold;
$unnamed-font-weight-normal: normal;
$unnamed-font-size-14: 14px;
$unnamed-font-size-16: 16px;
$unnamed-font-size-20: 20px;
$unnamed-font-size-24: 24px;
$unnamed-font-size-28: 28px;
$unnamed-character-spacing-0: 0px;
$unnamed-line-spacing-17: 17px;
$unnamed-line-spacing-24: 24px;
$unnamed-line-spacing-26: 26px;
$unnamed-line-spacing-29: 29px;
$unnamed-line-spacing-34: 34px;
